.chapter {
  .container {
    max-width: 1320px;
  }
  .jumbotron {
    height: 400px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    &.dash {
      height: auto;
      background: darken($main-red, 20%) !important;

      h3 {
        font-weight: bolder;
        border-bottom: 1px solid white;
        padding-bottom: 20px;
        width: 160px;
        margin: auto;
      }
      h4 {
        padding-top: 20px;
      }
    }

    a {
      color: $main-white;
      &:hover {
        color: darken($main-white, 20%);
        text-decoration: none;
      }
    }
  }

  .jumbotron_h1 {
    position: absolute;
    transform: translateY(-100%);
    color: $main-white;
    padding: 3rem;
  }

  table {
    filter: none;
  }

  table th {
    border-top: 0;
  }
}
