.chapters {
  .jumbotron {
    height: 300px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    filter: brightness(30%);
  }

  .jumbotron_h1 {
    position: absolute;
    transform: translateY(-150%);
    color: $main-white;
    padding: 3rem;
  }
}
