.chapters {
  .background {
    background: url("../img/map.png");
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-size: cover;
    z-index: -999;
  }
  .background-text {
    color: $main-white;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    width: 65%;
  }
  .jumbotron {
    padding: 0;
  }
  .table {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 830px) {
  .background-text {
    width: 90% !important;
    text-align: justify;
    margin: auto !important;
  }
}
