.chapter {
  .container {
    max-width: 1320px;
  }
  .jumbotron {
    height: 400px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    &.dash {
      height: auto;
      background: darken($main-red, 20%) !important;

      h3 {
        font-weight: bolder;
        border-bottom: 1px solid white;
        padding-bottom: 20px;
        width: 160px;
        margin: auto;
      }
      h4 {
        padding-top: 20px;
      }
    }

    a {
      color: $main-white;
      &:hover {
        color: darken($main-white, 20%);
        text-decoration: none;
      }
    }
  }

  .jumbotron_h1 {
    position: absolute;
    transform: translateY(-100%);
    color: $main-white;
    padding: 3rem;
  }

  .table-section {
    padding-top: 0 !important;
  }

  table {
    filter: none;
  }

  table th {
    border-top: 0;
  }

  .modal {
    .modal-content {
      border-radius: 0;
      border: 0;

      .modal-footer {
        input[type="submit"] {
          background-color: $main-red;
          border-radius: 0;
          color: $main-white;
          padding: 10px 15px;

          &:hover {
            background-color: darken($main-red, 20%);
          }

          &:disabled {
            animation: uploading 2s infinite ease-in-out;
            color: white;
          }
        }
      }
    }
  }
  .table-container {
    overflow-x: scroll;
  }
}

@keyframes uploading {
  0% {
    background: rgb(153, 101, 176);
  }
  50% {
    background: rgb(51, 75, 148);
  }
  100% {
    background: rgb(153, 101, 176);
  }
}
