.newPost,
.editPost {
  form {
    padding: 3em 0;

    input,
    textarea {
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    &:focus {
      outline: none !important;
    }

    textarea {
      min-height: 300px;
    }
    input[type="submit"] {
      background: none;
      border: 1px solid $main-blue;
      padding: 10px 10px;
      color: $main-blue;
      transition: 0.2s;
      width: 100%;

      &:hover {
        background: $main-blue;
        border: 1px solid darken($main-blue, 20%);
        color: $main-white;
      }

      &:disabled {
        animation: uploading 2s infinite ease-in-out;
        color: white;
      }
    }
  }
  .ql-container {
    min-height: 250px;
  }
}

@keyframes uploading {
  0% {
    background: rgb(153, 101, 176);
  }
  50% {
    background: rgb(51, 75, 148);
  }
  100% {
    background: rgb(153, 101, 176);
  }
}
