.posts {
  .background {
    background: url("../img/blog.jpeg");
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-size: cover;
    z-index: -999;
  }
  .background-text {
    position: fixed;
    color: $main-white;
    transform: translateY(-150%);
    width: 65%;
    left: 100px;
    z-index: -998;
  }
  .container-fluid {
    background: white;

    .row .row {
      border: 1px solid rgba($main-red, 0.5);
    }
  }
  .jumbotron {
    margin-top: 400px;
    padding: 0;
  }
  .display-4-5 {
    text-align: center !important;
  }
  .posts-row {
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  .sidenav {
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    top: 40px;
    background: none;
    color: $main-white;
    padding: 50px;
    font-size: 20px;
    border-radius: 10px;
  }
}
