.landing {
  h1 {
    color: $main-red;
  }
  .section {
    padding: 4em;
    line-height: 1.8em;
    text-align: center;

    &.section-red {
      background: $main-red;
      background: linear-gradient(
        135deg,
        rgb(221, 53, 69) 50%,
        rgb(147, 36, 109)
      );
      color: $main-white !important;

      h1,
      a {
        color: $main-white !important;
      }

      .btn {
        background: none;
        border: 1px solid $main-white;
        color: $main-white;
        transition: 0.2s;

        &:hover {
          background: $main-white;
          color: darken($main-red, 20%) !important;
        }
      }
      .card {
        background: none;
        border: none;

        &.card-body {
          padding: 0 !important;
        }
        .form-control {
          background: #d4d4d4 !important;
          border: 1px solid $main-red;
          margin: 1em 0;

          &::placeholder {
            color: $main-grey;
          }
        }
      }
    }
    &.section-white {
      background: $main-white;
      color: $main-red;

      &.with-stripe {
        background: linear-gradient(
          135deg,
          $main-red 68%,
          $main-white 69%,
          $main-red 69%,
          $main-red 80%,
          $main-red 80%,
          $main-red 100%
        );
      }
      .no-btn {
        color: darken($main-red, 40%) !important;
        border: 0 !important;
        padding: 0 !important;

        &:hover {
          color: $main-red !important;
          background: none !important;
        }
      }
      a:not(.reach-out),
      a:not(.eventBrite-link),
      button {
        border: 1px solid $main-red;
        background: $main-white;
        color: $main-red;
        transition: 0.2s;
        padding: 10px 15px;
        border-radius: 4px;

        &:focus {
          outline: none;
          box-shadow: none;
        }

        &:hover {
          border: 1px solid $main-white;
          background: $main-red;
          color: $main-white;
          text-decoration: none;
        }
      }
    }
    &.parallaxVideo {
      height: 500px;
      width: 100% !important;
      padding: 0 !important;
      video {
        width: 100vw;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -999;
        margin: 0 !important;
      }
    }

    .jumbotron {
      background: transparent;
    }
  }

  .more-videos {
    .carousel iframe {
      height: 400px;
    }
  }
  .stories {
    button.btn {
      margin: auto;
    }
  }

  form {
    input,
    textarea {
      border-radius: 0;
      border: 0;
    }
    input[type="submit"] {
      border: 1px solid $main-white;
      background: $main-red;
      color: $main-white;
      transition: 0.2s;
      overflow: hidden;

      &:hover {
        border: 1px solid $main-red;
        background: $main-white;
        color: $main-red;
      }
    }
  }

  .modal-dialog {
    width: 100vw;
    height: 100vh;
    position: relative !important;
    margin: auto;

    .modal-content {
      background: none !important;
      border: none;
    }

    .modal-body {
      transform: translateX(-50%);
    }
  }

  .eventBrite-container {
    height: 800px;
    overflow: scroll;

    a {
      margin: 10px auto !important;
      text-align: left;
      border: 1px solid lighten($main-red, 20%) !important;
      max-height: 200px;
      overflow: hidden;

      & > div {
        padding: 20px !important;
      }

      &:hover {
        background: lighten($main-white, 5%) !important;
        box-shadow: 0 3px 7px lighten($main-red, 20%);
        color: $main-red !important;
        border: 1px solid lighten($main-red, 10%) !important;
      }
    }
  }
}

.main-logo {
  background: url("../img/logo_v2.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  transform: scale(1) translateX(50px);
  // filter: brightness(5);
}

.story-logo + h4 {
  text-align: center;
}

.story-logo.roundup {
  background: url("../img/roundup_team.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: contain;
  margin: auto;
  height: 210px;
  width: 350px;
  // border-radius: 50%;
}
.story-logo.homeless {
  background: url("../img/sal mohammed.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  height: 210px;
  width: 210px;
  border-radius: 50%;
}
.story-logo.ticketaid {
  background: url("../img/matt o shea.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  height: 210px;
  width: 210px;
  border-radius: 50%;
}
.lightbulb {
  background: url("../img/lightbulb.png");
  // filter: invert(100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  height: 200px;
  width: 200px;
  // transform: scale(0.8);
}
.boat {
  background: url("../img/boat.png");
  transform: scaleX(-1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  height: 200px;
  width: 400px;
}
.speech {
  background: url("../img/speech.png");
  transform: scaleX(1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  height: 200px;
  width: 500px;
}
.mailing {
  background: url("../img/mailing.png");
  filter: brightness(100);
  // transform: scale(1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  height: 150px;
  width: 300px;
  transform: rotate(310deg) translate(-100px);
}

#map {
  transform: translateX(-50%);
  height: 400px;
  margin: auto;
  padding-left: 0;

  &:focus {
    outline: none !important;
  }

  .leaflet-control-zoom {
    font-size: 4em;
    transform: translate(50%, 10px);

    a {
      padding: 15px;
    }
  }
  .leaflet-control-attribution {
    display: none;
  }
}

// Phones
@media only screen and (max-width: 420px) {
  .landing {
    .section {
      padding: 0 !important;

      h1 {
        font-size: 2.8em;
        text-align: center !important;
      }

      &.section-red {
        .display-4 {
          font-size: 3.1rem !important;
        }
        .info-text {
          font-size: 1.4rem;
          text-align: center;
          padding-left: 15px;
          padding-right: 15px;

          & ~ .btn {
            width: 80%;
          }
        }
        .middle-btn {
          margin: 20px;
        }
      }
      &.section-white {
        .display-4 {
          font-size: 2.6rem !important;
          padding-bottom: 1rem !important;
        }
        &.bulb-container {
          .text-right {
            text-align: center !important;
          }
        }
      }
    }

    .main-logo {
      width: 100%;
      height: 235px;
      transform: none;
    }

    .mailing {
      transform: rotate(318deg) translate(40px, 29px);
      height: 55px;
    }

    .parallaxVideo,
    .map-container {
      display: none;
    }

    .stories {
      .row {
        text-align: center !important;
      }
      .display-4 {
        font-size: 2.9rem !important;
        padding: 0;
      }
      [class*="col-"] {
        p {
          padding: 20px 25px;
        }
      }
      .story-logo {
        width: 286px !important;
      }
    }
    .speech,
    .boat {
      width: 100% !important;
      height: 110px !important;
    }
    form {
      padding: 10px;

      .col-sm-12 {
        margin-top: 10px;
      }
    }
  }
}

// Tablets
@media only screen and (max-width: 1040px) {
  .landing {
    .stories {
      .row {
        text-align: center !important;
      }
      [class*="col-"] {
        flex: 0 0 100%;
        max-width: 100%;

        .btn {
          width: 80%;
          margin-bottom: 30px;
        }
      }
    }

    .bulb-container {
      .text-right {
        text-align: center !important;

        .display-4 {
          font-size: 2.7rem;
        }
      }
    }

    .boat {
      width: 300px;
    }
  }
}
