a.card {
  &:hover {
    text-decoration: none;
  }
}

.projects {
  .background {
    background: url("../img/projectProposal.jpeg");
    background-repeat: no-repeat;
    // background-position: 0 -500px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-size: cover;
    z-index: -999;
  }
  .background-text {
    color: $main-white;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    width: 65%;
  }

  .jumbotron {
    margin-top: 70px;
    background: linear-gradient(
      135deg,
      rgb(221, 53, 69) 50%,
      rgb(147, 36, 109)
    );
    color: white;

    a {
      color: rgb(170, 170, 170);
      transition: 0.2s ease;

      &:hover {
        color: rgb(61, 61, 61);
      }
    }
  }
  .display-4-5 {
    text-align: center !important;
  }

  .jumbotron-2 {
  }

  .card {
    max-height: 250px;
    overflow: hidden;
    padding: 30px;
    margin: auto;
    transition: 0.2s;

    &:hover {
      box-shadow: 0px 0px 20px -10px $main-red;
    }

    a {
      color: $main-red !important;
      transition: 0.2s;

      &:hover {
        color: darken($main-red, 40%) !important;
      }
    }

    .card-title,
    .card-body {
      color: $main-red !important;
    }

    .card-body {
      &::before {
        content: "";
        height: 50%;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          to top,
          rgba(255, 255, 255, 1),
          rgba(255, 255, 255, 0)
        );
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  .background-text {
    width: 90% !important;
    text-align: justify;
    margin: auto !important;
  }
}
