.navbar {
  padding: 0 0.5em;
  background: $main-red !important;
  padding-top: 0;

  .nav-link {
    transition: 0.2s;
    color: rgb(255, 255, 255) !important;

    &:hover {
      background: darken($main-red, 20%);
    }
  }

  .navbar-brand {
    transform: translateY(-2px);
  }
}
