.bg-main-red {
  background: #dd3545;
  color: white; }

.bg-main-red-darken {
  background: #931924;
  color: white; }

.bg-main-red-gradient {
  background: #dd3545;
  background: linear-gradient(135deg, #dd3545 50%, #93246d);
  color: white !important; }

.bg-main-white {
  background: white; }

.bg-main-white-darken {
  background: #e6e6e6;
  color: white; }

.bg-main-grey {
  background: #393939;
  color: white; }

.bg-main-grey-darken {
  background: #202020;
  color: white; }

.thead-red {
  background: #a91c2a;
  color: white;
  padding: 20px; }

.display-4-5 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;
  text-align: justify; }

.table-striped tbody tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.05); }
  .table-striped tbody tr:nth-of-type(odd):hover {
    background: rgba(0, 0, 0, 0.1); }

.table-striped tbody tr:nth-of-type(even) {
  background: #d2d2d2; }
  .table-striped tbody tr:nth-of-type(even):hover {
    background: #c5c5c5; }

.table-sm td {
  padding: 0.5rem; }

.table td,
.table th,
table thead th {
  vertical-align: middle;
  border-top: 0;
  border-bottom: 0 !important; }

.table a {
  color: #393939; }
  .table a:hover {
    text-decoration: none;
    color: #060606; }

.container-fluid {
  padding: 0; }

.jumbotron {
  margin-bottom: 0;
  border-radius: 0; }

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/raleway/Raleway-Light.ttf"); }

@font-face {
  font-family: "Raleway-Thin";
  src: url("../fonts/raleway/Raleway-Thin.ttf"); }

@font-face {
  font-family: "Josefin Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Josefin+Sans"); }

* {
  font-family: "Raleway-Light"; }

.ql-container {
  font-size: 17px; }

.navbar {
  padding: 0 0.5em;
  background: #dd3545 !important;
  padding-top: 0;
  font-weight: bold; }
  .navbar .nav-link {
    transition: 0.2s;
    color: white !important; }
    .navbar .nav-link:hover {
      background: #931924; }
  .navbar .navbar-brand {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); }

.footer {
  padding: 10px 0; }
  .footer a {
    color: #70726f;
    font-size: 30px;
    padding: 10px 30px; }
    .footer a i {
      transition: all 0.5s ease; }
      .footer a i:hover {
        color: white; }

.form-signin .col-md-5 {
  line-height: 2.6rem !important; }

.form-signin input,
.form-signin select {
  background: none;
  border: 0;
  border-bottom: 1px solid rgba(57, 57, 57, 0.5);
  transition: 0.2s; }
  .form-signin input:focus,
  .form-signin select:focus {
    box-shadow: none;
    color: #59a246; }
    .form-signin input:focus::-webkit-input-placeholder,
    .form-signin select:focus::-webkit-input-placeholder {
      color: #7ee764; }
    .form-signin input:focus:-ms-input-placeholder,
    .form-signin select:focus:-ms-input-placeholder {
      color: #7ee764; }
    .form-signin input:focus::-ms-input-placeholder,
    .form-signin select:focus::-ms-input-placeholder {
      color: #7ee764; }
    .form-signin input:focus::placeholder,
    .form-signin select:focus::placeholder {
      color: #7ee764; }

.form-signin .btn-main-submit {
  width: 100%;
  background: #dd3545;
  padding: 0.6em 1.1em;
  color: white;
  transition: 0.2s; }
  .form-signin .btn-main-submit:hover {
    background: #931924; }

a:hover {
  text-decoration: none;
  darkencolor: #1f4b86; }

.list-group-item {
  padding: 0;
  border: 0; }

.forgot-password .btn {
  background: #dd3545;
  color: white; }
  .forgot-password .btn:hover {
    background: #931924; }

.spinner {
  width: 100px;
  height: 100px;
  border-top: 3px solid #393939;
  border-radius: 50%;
  margin: 50px auto;
  text-align: center;
  -webkit-animation: spinner 1s infinite;
          animation: spinner 1s infinite;
  padding: 3em 0 !important; }

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.list-group-flush li {
  background: none; }

.landing h1 {
  color: #dd3545; }

.landing .section {
  padding: 4em;
  line-height: 1.8em;
  text-align: center; }
  .landing .section.section-red {
    background: #dd3545;
    background: linear-gradient(135deg, #dd3545 50%, #93246d);
    color: white !important; }
    .landing .section.section-red h1 {
      font-family: "Raleway-Thin"; }
    .landing .section.section-red h1,
    .landing .section.section-red a {
      color: white !important; }
    .landing .section.section-red .btn {
      font-weight: bold;
      background: none;
      border: 1px solid white;
      color: white;
      transition: 0.2s; }
      .landing .section.section-red .btn:hover {
        background: white;
        color: #931924 !important; }
    .landing .section.section-red .card {
      background: none;
      border: none; }
      .landing .section.section-red .card.card-body {
        padding: 0 !important; }
      .landing .section.section-red .card .form-control {
        background: #d4d4d4 !important;
        border: 1px solid #dd3545;
        margin: 1em 0; }
        .landing .section.section-red .card .form-control::-webkit-input-placeholder {
          color: black; }
        .landing .section.section-red .card .form-control:-ms-input-placeholder {
          color: black; }
        .landing .section.section-red .card .form-control::-ms-input-placeholder {
          color: black; }
        .landing .section.section-red .card .form-control::placeholder {
          color: black; }
  .landing .section.section-white {
    background: white;
    color: #dd3545; }
    .landing .section.section-white.with-stripe {
      background: linear-gradient(135deg, #dd3545 68%, white 69%, #dd3545 69%, #dd3545 80%, #dd3545 80%, #dd3545 100%); }
    .landing .section.section-white .no-btn {
      color: #3c0a0f !important;
      border: 0 !important;
      padding: 0 !important; }
      .landing .section.section-white .no-btn:hover {
        color: #dd3545 !important;
        background: none !important; }
    .landing .section.section-white a:not(.dowelldogood),
    .landing .section.section-white a:not(.reach-out),
    .landing .section.section-white a:not(.eventTile),
    .landing .section.section-white button {
      border: 1px solid #dd3545;
      background: white;
      color: #dd3545;
      transition: 0.2s;
      padding: 10px 15px;
      border-radius: 4px; }
      .landing .section.section-white a:not(.dowelldogood):focus,
      .landing .section.section-white a:not(.reach-out):focus,
      .landing .section.section-white a:not(.eventTile):focus,
      .landing .section.section-white button:focus {
        outline: none;
        box-shadow: none; }
      .landing .section.section-white a:not(.dowelldogood):hover,
      .landing .section.section-white a:not(.reach-out):hover,
      .landing .section.section-white a:not(.eventTile):hover,
      .landing .section.section-white button:hover {
        border: 1px solid white;
        background: #dd3545;
        color: white;
        text-decoration: none; }
    .landing .section.section-white .dowelldogood {
      border: none !important;
      color: blue !important;
      padding: 0 !important; }
      .landing .section.section-white .dowelldogood:hover {
        background: none !important;
        color: #000099 !important; }
  .landing .section.parallaxVideo {
    height: 500px;
    width: 100% !important;
    padding: 0 !important; }
    .landing .section.parallaxVideo video {
      width: 100vw;
      position: fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: -999;
      margin: 0 !important; }
  .landing .section .jumbotron {
    background: transparent; }

.landing .more-videos .carousel iframe {
  height: 400px; }

.landing .more-videos .carousel-control-next,
.landing .more-videos .carousel-control-prev {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top: 44%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  background: black; }

.landing .stories button.btn {
  margin: auto; }

.landing form input,
.landing form textarea {
  border-radius: 0;
  border: 0; }

.landing form input[type="submit"] {
  border: 1px solid white;
  background: #dd3545;
  color: white;
  transition: 0.2s;
  overflow: hidden; }
  .landing form input[type="submit"]:hover {
    border: 1px solid #dd3545;
    background: white;
    color: #dd3545; }

.landing .modal-dialog {
  width: 100vw;
  height: 100vh;
  position: relative !important;
  margin: auto; }
  .landing .modal-dialog .modal-content {
    background: none !important;
    border: none; }
  .landing .modal-dialog .modal-body {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.landing .eventBrite-container {
  height: 800px;
  overflow: scroll;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px; }
  .landing .eventBrite-container .eventTile {
    text-align: left;
    border: 1px solid #ec8c95 !important;
    background: #fff !important;
    padding: 15px;
    color: #393939; }
    .landing .eventBrite-container .eventTile > div {
      padding: 10px !important; }
    .landing .eventBrite-container .eventTile a {
      padding: 0 !important;
      border: 0 !important;
      background: none !important;
      color: #1f4b86 !important;
      transition: 0.2s; }
      .landing .eventBrite-container .eventTile a:hover {
        text-decoration: underline !important;
        color: #02050a !important; }
    .landing .eventBrite-container .eventTile:hover {
      background: white !important;
      box-shadow: 0 3px 7px #ec8c95;
      color: #dd3545 !important;
      border: 1px solid #e4616d !important; }

.landing .info-text {
  font-family: 1.4rem; }

.landing .tonsOfResources {
  border: 0 !important;
  padding: 0 !important;
  color: black !important; }
  .landing .tonsOfResources:hover {
    background: none !important;
    text-decoration: underline !important; }

.main-logo {
  background: url("../img/logo_v2.svg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  margin: auto; }

.story-logo + h4 {
  text-align: center; }

.story-logo.roundup {
  background: url("../img/roundup_team.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
  height: 210px;
  width: 350px; }

.story-logo.homeless {
  background: url("../img/sal mohammed.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  height: 210px;
  width: 210px;
  border-radius: 50%; }

.story-logo.ticketaid {
  background: url("../img/matt o shea.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  height: 210px;
  width: 210px;
  border-radius: 50%; }

.lightbulb {
  background: url("../img/lightbulb.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  height: 200px;
  width: 200px; }

.boat {
  background: url("../img/boat.png");
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  height: 200px;
  width: 400px; }

.speech {
  background: url("../img/speech.png");
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  height: 200px;
  width: 400px; }

.mailing {
  background: url("../img/mailing.png");
  -webkit-filter: brightness(100);
          filter: brightness(100);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  height: 150px;
  width: 300px;
  -webkit-transform: rotate(310deg) translate(-100px);
          transform: rotate(310deg) translate(-100px); }

.map-container {
  height: 600px; }

@media only screen and (max-width: 420px) {
  .landing .section {
    padding: 0 !important; }
    .landing .section h1 {
      font-size: 2.8em;
      text-align: center !important; }
    .landing .section.section-red .display-4 {
      font-size: 3.1rem !important; }
    .landing .section.section-red .info-text {
      font-size: 1.4rem;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px; }
      .landing .section.section-red .info-text ~ .btn {
        width: 80%; }
    .landing .section.section-red .middle-btn {
      margin: 20px; }
    .landing .section.section-white .display-4 {
      font-size: 2.6rem !important;
      padding-bottom: 1rem !important; }
    .landing .section.section-white.bulb-container .text-right {
      text-align: center !important; }
  .landing .main-logo {
    width: 100%;
    height: 235px;
    -webkit-transform: none;
            transform: none; }
  .landing .mailing {
    -webkit-transform: rotate(318deg) translate(40px, 29px);
            transform: rotate(318deg) translate(40px, 29px);
    height: 55px; }
  .landing .parallaxVideo,
  .landing .map-container {
    display: none; }
  .landing .stories .row {
    text-align: center !important; }
  .landing .stories .display-4 {
    font-size: 2.9rem !important;
    padding: 0; }
  .landing .stories [class*="col-"] p {
    padding: 20px 25px; }
  .landing .stories .story-logo {
    width: 286px !important; }
  .landing .speech,
  .landing .boat {
    width: 100% !important;
    height: 110px !important; }
  .landing form {
    padding: 10px; }
    .landing form .col-sm-12 {
      margin-top: 10px; } }

@media only screen and (max-width: 540px) {
  h1.display-2 {
    font-size: 3rem !important; }
  .eventBrite-container a {
    grid-column: 1 !important; } }

@media only screen and (max-width: 630px) {
  h1.display-2 {
    font-size: 4rem; }
  .eventBrite-container {
    grid-template-columns: auto !important; } }

@media only screen and (max-width: 1040px) {
  .landing .stories .row {
    text-align: center !important; }
  .landing .stories [class*="col-"] {
    flex: 0 0 100%;
    max-width: 100%; }
    .landing .stories [class*="col-"] .btn {
      width: 80%;
      margin-bottom: 30px; }
  .landing .info-text {
    font-size: 1.4rem;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; }
    .landing .info-text ~ .btn {
      width: 80%; }
  .landing .middle-btn {
    margin: 20px; }
  .landing .bulb-container .text-right {
    text-align: center !important; }
    .landing .bulb-container .text-right .display-4 {
      font-size: 2.7rem; }
  .landing .boat {
    width: 300px; } }

.projects .display-4 {
  font-size: 3rem !important; }

.projects form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background: #dd3545;
  color: white;
  cursor: pointer;
  transition: 0.2s; }
  .projects form input[type="submit"]:hover {
    background: #bf202f; }

.projects form .form-control:focus {
  border-color: none;
  box-shadow: 0 0 0 0.2rem rgba(221, 53, 69, 0.2); }

a.card:hover {
  text-decoration: none; }

.projects .background {
  background: url("../img/projectProposal.jpeg");
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background-size: cover;
  z-index: -999; }

.projects .background-text {
  position: fixed;
  color: white;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  width: 65%;
  left: 100px;
  z-index: -998; }

.projects .jumbotron {
  margin-top: 400px;
  background: linear-gradient(135deg, #dd3545 50%, #93246d);
  color: white; }
  .projects .jumbotron a {
    color: #aaaaaa;
    transition: 0.2s ease; }
    .projects .jumbotron a:hover {
      color: #3d3d3d; }

.projects .display-4-5 {
  text-align: center !important; }

.projects .card {
  max-height: 250px;
  overflow: hidden;
  padding: 30px;
  margin: auto;
  transition: 0.2s; }
  .projects .card:hover {
    box-shadow: 0px 0px 20px -10px #dd3545; }
  .projects .card .card-body::before {
    content: "";
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0)); }

.project .crudLinks {
  -webkit-transform: translateY(20px);
          transform: translateY(20px); }
  .project .crudLinks i {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #cccccc;
    transition: 0.2s; }
    .project .crudLinks i:hover {
      color: #666666; }

.resources .background {
  background: url("../img/books.jpeg");
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background-size: cover;
  z-index: -999; }

.resources .background-text {
  position: fixed;
  color: white;
  width: 65%;
  left: 100px;
  z-index: -998; }

.resources .jumbotron-fluid {
  background: white; }

.resources .jumbotron {
  margin-top: 400px; }

.resources .nav-item {
  width: 20%;
  text-align: center;
  font-weight: bold; }

.resources .p-responsive {
  font-weight: 400; }
  .resources .p-responsive.introText {
    font-size: 1.5em; }
  .resources .p-responsive .bold {
    font-weight: 600; }

.resources .circleTeam {
  width: 300px;
  text-align: center;
  border: 0; }

.resources .table {
  font-weight: 600; }
  .resources .table thead {
    background: #dd3545;
    color: white;
    border-top: 1px solid white; }
  .resources .table a {
    font-weight: 600;
    color: #393939; }
  .resources .table i {
    color: #dd3545; }
  .resources .table .btn {
    padding: 0; }

.resources .modal {
  background: rgba(0, 0, 0, 0.69); }
  .resources .modal .btn-secondary {
    padding: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px; }

.resources .modal-dialog {
  max-width: 75%; }
  .resources .modal-dialog .modal-body {
    text-align: center; }

.resources .carousel-indicators li {
  background-color: #393939; }

.resources .carousel-control-prev,
.resources .carousel-control-next {
  width: 0; }
  .resources .carousel-control-prev i,
  .resources .carousel-control-next i {
    background: #931924;
    padding: 15px 20px;
    border-radius: 50%;
    color: #393939; }

.resources .nav-item {
  background: #dd3545;
  color: white;
  border-radius: 0;
  transition: 0.1s;
  font-family: "Josefin Sans"; }
  .resources .nav-item.active {
    color: #868686;
    background: white; }
    .resources .nav-item.active:hover {
      background: #cccccc;
      color: white;
      border: 0; }
  .resources .nav-item:hover {
    background: #931924;
    border: 0; }

.chapter .container {
  max-width: 1320px; }

.chapter .jumbotron {
  height: 400px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important; }
  .chapter .jumbotron.dash {
    height: 200px;
    background: #931924 !important; }
  .chapter .jumbotron a {
    color: white; }
    .chapter .jumbotron a:hover {
      color: #cccccc;
      text-decoration: none; }

.chapter .jumbotron_h1 {
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: white;
  padding: 3rem; }

.chapter table {
  -webkit-filter: none;
          filter: none; }

.chapter table th {
  border-top: 0; }

.chapters .background {
  background: url("../img/map.png");
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background-size: cover;
  z-index: -999; }

.chapters .background-text {
  position: fixed;
  color: white;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  width: 65%;
  left: 100px;
  z-index: -998; }

.chapters .jumbotron {
  margin-top: 400px;
  padding: 0; }

.chapters .table {
  margin-bottom: 0; }

.users .jumbotron .main-text {
  background: rgba(57, 57, 57, 0.8);
  color: white;
  width: 600px;
  padding: 2rem; }
  .users .jumbotron .main-text .tagline {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center; }
    .users .jumbotron .main-text .tagline::before {
      content: ",,";
      position: absolute;
      letter-spacing: -20px;
      margin: 0;
      font-size: 8em;
      color: white;
      top: -20px;
      left: -10px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .users .jumbotron .main-text .tagline::after {
      content: ",,";
      position: absolute;
      letter-spacing: -20px;
      margin: 0;
      font-size: 8em;
      color: white;
      top: -125px;
      right: -10px; }

.users .jumbotron:first-child {
  background-repeat: none !important;
  background-size: cover !important;
  background-position: center !important;
  -webkit-filter: brightness(50%);
          filter: brightness(50%); }

.users .jumbotron i {
  font-size: 1.6em;
  padding-right: 0.8em;
  margin-top: 20px;
  color: #dd3545;
  transition: 0.2s; }
  .users .jumbotron i:hover {
    color: #f3b8be;
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

.users .profile_pic {
  height: 300px;
  width: 300px;
  -o-object-fit: contain;
     object-fit: contain; }

.users .user-bio {
  padding-top: 5px;
  line-height: 2.5em;
  text-align: justify; }

.dashboard .row {
  margin: 0; }

.dashboard .profile_pic_container {
  border: 5px solid white;
  position: absolute;
  right: 50px;
  -webkit-transform: translateY(80%) scale(0.9);
          transform: translateY(80%) scale(0.9);
  width: 150px !important;
  height: 150px !important;
  background: black; }
  .dashboard .profile_pic_container .profile_pic {
    width: 100%;
    height: 100%;
    transition: 0.2s; }
  .dashboard .profile_pic_container:hover .profile_pic {
    opacity: 0.8; }
    .dashboard .profile_pic_container:hover .profile_pic::before {
      content: "Hello";
      color: black;
      font-size: 2em;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }

.dashboard .social a {
  color: #393939;
  margin: 15px 10px 15px 0;
  transition: 0.1s; }
  .dashboard .social a:hover {
    color: #787878; }

.post .tagline .quote {
  color: #000;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px; }

.post a:hover {
  text-decoration: none; }

.post button {
  background: none;
  border: 0;
  cursor: pointer;
  color: blue; }
  .post button:hover {
    color: #0000cc; }

.post .comments {
  border-top: 1px solid #d2d2d2; }
  .post .comments form .form-group-row {
    box-shadow: none;
    outline: none; }
  .post .comments form textarea {
    width: 100%;
    transition: 0.2s;
    letter-spacing: 2px; }
    .post .comments form textarea:focus {
      box-shadow: none;
      outline: none;
      background: #fef9fa; }
  .post .comments form input[type="submit"] {
    background: none;
    border: 1px solid #dd3545;
    padding: 5px 10px;
    color: #dd3545;
    transition: 0.2s; }
    .post .comments form input[type="submit"]:hover {
      background: #dd3545;
      border: 1px solid #931924;
      color: white; }
    .post .comments form input[type="submit"]:focus {
      box-shadow: none;
      outline: none;
      background: #fef9fa; }

.post i {
  color: #9f9f9f;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 0;
  margin: 0; }

.post .ql-container.ql-snow {
  border: 0 !important; }

.posts .background {
  background: url("../img/blog.jpeg");
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background-size: cover;
  z-index: -999; }

.posts .background-text {
  position: fixed;
  color: white;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  width: 65%;
  left: 100px;
  z-index: -998; }

.posts .container,
.posts .container-fluid {
  background: white; }
  .posts .container .row .row,
  .posts .container-fluid .row .row {
    border: 1px solid rgba(221, 53, 69, 0.5); }

.posts .jumbotron {
  margin-top: 400px;
  padding: 0;
  background: linear-gradient(135deg, #dd3545 50%, #93246d); }
  .posts .jumbotron a {
    color: white;
    transition: 0.2s ease; }
    .posts .jumbotron a:hover {
      color: #8f8f8f; }

.posts .display-4-5 {
  text-align: center !important; }

.posts .posts-row {
  margin-bottom: 0 !important; }
  .posts .posts-row a:hover {
    text-decoration: none; }

.posts .sidenav {
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  top: 40px;
  background: none;
  color: white;
  padding: 50px 0;
  font-size: 20px;
  border-radius: 10px;
  box-sizing: border-box; }
  .posts .sidenav a {
    color: #dd3545;
    transition: 0.2s ease; }
    .posts .sidenav a:hover {
      color: #93246d; }

.newPost form,
.editPost form {
  padding: 3em 0; }
  .newPost form input:focus,
  .newPost form textarea:focus,
  .editPost form input:focus,
  .editPost form textarea:focus {
    box-shadow: none;
    outline: none; }
  .newPost form:focus,
  .editPost form:focus {
    outline: none !important; }
  .newPost form textarea,
  .editPost form textarea {
    min-height: 300px; }
  .newPost form input[type="submit"],
  .editPost form input[type="submit"] {
    background: none;
    border: 1px solid #1f4b86;
    padding: 10px 10px;
    color: #1f4b86;
    transition: 0.2s;
    width: 100%; }
    .newPost form input[type="submit"]:hover,
    .editPost form input[type="submit"]:hover {
      background: #1f4b86;
      border: 1px solid #0c1d33;
      color: white; }
    .newPost form input[type="submit"]:disabled,
    .editPost form input[type="submit"]:disabled {
      -webkit-animation: uploading 2s infinite ease-in-out;
              animation: uploading 2s infinite ease-in-out;
      color: white; }

.newPost .ql-container,
.editPost .ql-container {
  min-height: 250px; }

@-webkit-keyframes uploading {
  0% {
    background: #9965b0; }
  50% {
    background: #334b94; }
  100% {
    background: #9965b0; } }

@keyframes uploading {
  0% {
    background: #9965b0; }
  50% {
    background: #334b94; }
  100% {
    background: #9965b0; } }

.profile .jumbotron-fluid {
  background: grey;
  padding: 30px; }

.profile .profilePic {
  border-radius: 50%;
  margin-left: 20px;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover; }

.profile .nameInput {
  border: 0; }
  .profile .nameInput:focus {
    outline: 0; }

.profile .textarea {
  border: 1px solid #b1b1b1;
  padding: 5px 10px; }

.admin .jumbotron {
  height: 300px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  -webkit-filter: brightness(30%);
          filter: brightness(30%); }

.admin .jumbotron_h1 {
  position: absolute;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  color: white;
  padding: 3rem;
  font-size: 3em; }

.admin .chapterForm {
  padding: 0;
  background: linear-gradient(135deg, #dd3545 50%, #93246d);
  color: white; }
  .admin .chapterForm a {
    color: white;
    transition: 0.2s ease; }
    .admin .chapterForm a:hover {
      color: #8f8f8f; }
  .admin .chapterForm input {
    width: 100% !important; }

.admin .autocomplete-dropdown-container {
  color: black !important; }
