.admin {
  .jumbotron {
    height: 300px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    filter: brightness(30%);
  }

  .jumbotron_h1 {
    position: absolute;
    transform: translateY(-150%);
    color: $main-white;
    padding: 3rem;
    font-size: 3em;
  }

  .chapterForm {
    padding: 0;
    background: linear-gradient(
      135deg,
      rgb(221, 53, 69) 50%,
      rgb(147, 36, 109)
    );
    color: white;

    a {
      color: white;
      transition: 0.2s ease;

      &:hover {
        color: rgb(143, 143, 143);
      }
    }
  }
  input:not(.setCheckboxes) {
    width: 100% !important;
  }

  input[type="submit"] {
    background: none;
    border: 1px solid $main-blue;
    padding: 10px 10px;
    color: $main-blue;
    transition: 0.2s;
    width: 100%;

    &:hover {
      background: $main-blue;
      border: 1px solid darken($main-blue, 20%);
      color: $main-white;
    }

    &:disabled {
      animation: uploading 2s infinite ease-in-out;
      color: white;
    }
  }

  .autocomplete-dropdown-container {
    color: black !important;
  }
}
